@media screen and (max-width : 739px) {
    

}
.user-details {
    margin-left: 88px;
    margin-right: 88px;
    .btn-add {
        float: right;
    }
}
.table-user{
    text-align: center;
    vertical-align:top;
}
.action-button{
   display: flex;
   justify-content: space-around;
}
.button-search{
    float: right;
}
.pagging{
    display: flex;
    justify-content: space-between;
}

