.sample {
    margin: 0;

}
.custom-col{
    background-color: aquamarine;
    border: 0.5px solid black;
   
}
.content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 16px;
}
